#populate this file and remove the .sample extension when running this module standalone
#if calling this module from another module leave this file commented out
DeploymentResourceGroupName = "<Name of the Resource Group>"
PrivateCloudName = "<Name of the existing Private Cloud>"
PrivateCloudResourceGroup = "<Resource Group of the existing Private Cloud>"
PrivateCloudSubscriptionId = "<Private Cloud Subscription ID value (not full Resource ID)>"
Location = ""
VNetName = "<VNetName>"
VNetAddressSpaceCIDR = ["w.x.y.z/aa",]
VNetGatewaySubnetCIDR = ["w.x.y.z/aa",]
VNetANFDelegatedSubnetCIDR = ["w.x.y.z/aa",]
GatewayName = "<GatewayTF>"
GatewaySku = "ErGw3AZ"
netappAccountName = "<NetApp Account Name>"
netappCapacityPoolName = "<Capacity Pool Name>"
netappCapacityPoolServiceLevel = "Premium"
netappCapacityPoolSize = 4
netappVolumeName = "<Data Store Name>"
netappVolumeSize = 100